# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

### __Objectives:__
* Popular languages used for Data Scientist
* Common libraries used by Data Scientist
* Arithmetic expressions

### Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

### Some of the commonly used libaries used by Data Scientist include:
1. NumPy
2. Pandas
3. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
print("This is a simple arithmetic expression to multiply then add integers.")

In [ ]:
(3*4)+5

In [ ]:
print("This will convert 200 minutes to hours by dividing by 60. ")

In [ ]:
200/60

## Author
Ahmed Almansoori